/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	border:1px solid black;
	border-radius:5px;
	display:inline-block;
}
#color_author{
	background-color:rgb(119, 119, 119);
	color:white;
	display:inline;
}
#price_background{
	background-color:rgb(46, 204, 113);
	border:1px solid black;
	border-radius:5px;
	text-align:center;
	color:rgb(255, 255, 255);
}
