/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
}
#Author{
	background-color:#777777;
	display:inline;
}
#Price-block{
	background-color:#2ecc71;
	text-align:center;
}
