/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	border:1px solid black;
	border-radius:5px;
	display:inline-block;
}
#Author{
	background-color:rgb(119, 119, 119);
	display:inline;
}
#Price-block{
	background-color:rgb(46, 204, 113);
	text-align:center;
}
